[
  {kernel,
  [ {logger_level, all},
    {logger,
      [{handler, default, logger_std_h, #{level => notice}},
       {handler, debug, logger_std_h,
        #{ filters => [{debug,{fun logger_filters:level/2, {stop, neq, debug}}}],
           config => #{ file => "log/erlang.log",
                      modes => [append],
                      max_no_files => 1},
           formatter => {logger_formatter,
            #{ template => ["Topic: ", mfa, " ", " ", msg, " ", time, "\n"] }}
         }
        }
      ]
    }
  ]},

  {lager, [
    {log_root, "log"},
    {handlers, [
      {lager_console_backend, [ {level, debug} ]},
      {lager_file_backend, [{file, "debug.log"}, {level, debug}, {size, 10485760}, {date, "$D0"}, {count, 5}]},
      {lager_file_backend, [{file, "info.log"}, {level, info}]}
    ]}
  ]},

  {converl, []}
].
